<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <!-- Link ke Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Tambahkan font-awesome untuk ikon jika diperlukan -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <style>
      /* Tambahkan gaya tambahan di sini jika diperlukan */
      body {
        padding-top: 60px; /* Sesuaikan dengan tinggi navbar */
      }
      .navbar {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/users/home/dashboard"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Content -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-9">
          <h2>Welcome to Admin Dashboard</h2>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary mb-2"
        data-toggle="modal"
        data-target="#addCategory"
      >
        Add User
      </button>
      <br>
      <span id="message" style="color: red"></span>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= user.userName %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td>
                <a href="/users/<%= user.id %>" class="btn btn-warning">Edit</a>
                <a href="/users/<%= user.id %>/delete"class="btn btn-danger <%= user.role === 'admin' ? 'disabled' : '' %>">Delete</a>
                <a href="/users/<%= user.id %>/enrollment" class="btn btn-primary <%= user.role === 'admin' ? 'disabled' : '' %>">History</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="modal fade"
      id="addCategory"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addCategoryLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCategoryLabel">Add User</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form untuk menambahkan pengguna -->
            <form action="" method="POST">
              <div class="form-group">
                <label for="title">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="userName"
                />
              </div>
              <div class="form-group">
                <label for="title">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="title"
                  name="email"
                />
              </div>
              <div class="form-group">
                <label for="title">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="title"
                  name="password"
                />
              </div>
              <div class="form-group">
                <label for="title">Role</label>
                <select name="role" id="" class="form-control">
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary mt-2">
                Add User
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[[]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      // Get the value of the 'message' parameter from the current URL
      var messageValue = getParameterByName("message");
      let messageElement = document.getElementById("message");
      messageElement.textContent = messageValue;
    </script>

    <!-- Link ke Bootstrap JS dan Popper.js (ditempatkan di akhir body untuk meningkatkan performa) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
